<h4>Read .CSV File</h4>

<table>
    <tr>
        <td>
            <input type="file" 
                #fileImportInput
                name="File Upload" 
                id="txtFileUpload" 
                class="btn btn-primary" 
                (change)="fileChangeListener($event)" 
                accept=".csv"
                />
        </td>
        <td style="padding: 5px;">
            <input type="button" 
                name="Reset" 
                id="txtFileReset" 
                class="btn btn-primary" 
                (click)="fileReset()" 
                value="Reset"/>
        </td>
    </tr>
</table>

<div>
    <div class="example-header">
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
          </div>
          
          <div class="example-container mat-elevation-z8">
          
            <mat-table [dataSource]="dataSource" matSort>
          
              <!-- ID Column -->
              <ng-container matColumnDef="First Name">
                <mat-header-cell *matHeaderCellDef mat-sort-header> First Name </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.firstName}} </mat-cell>
              </ng-container>
          
              <!-- Progress Column -->
              <ng-container matColumnDef="Sur Name">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Sur Anme </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.surName}} </mat-cell>
              </ng-container>
          
              <!-- Name Column -->
              <ng-container matColumnDef="Issue Count">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Issue Count </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.issueCount}} </mat-cell>
              </ng-container>
          
              <!-- Color Column -->

              <ng-container matColumnDef="Date of Birth">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Date of Birth </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.dateOfBirth | date: 'dd/MM/yyyy'}} </mat-cell>
                </ng-container>

          
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;">
              </mat-row>
            </mat-table>
          
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          </div>
          


</div>
